.hecha-true{
	text-decoration: line-through;
	color: red;
}
.glyphicon-remove{
	float: right;
}
form{
	margin-bottom: 3em;
}

body{ 
	font-family: 'Coming Soon', cursive!important ;
  	 }


.panel-body{
	background-color: rgba(4,181,158, 0.8);
	
}
.panel{
	background-color: rgba(9,10,10,0.8);

}
h1{
		
		background-color: rgba(100,4,232,.25);
		border-radius: .2em;
		width:55%;
		padding: 0.5em;

}
